<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="gbk"/>
        <title><%= title %></title>
        <link rel="stylesheet" href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css" />
        <link rel="stylesheet" href="/stylesheets/floor1.css" />

        <script src="/javascripts/lib/jquery-1.11.2.min.js"></script>
        <script src="/javascripts/huopin.js"></script>
    </head>
    <body>
        <div id="doc" class="page-name">
        <!-- page-name 由产品线名和页面名构成，如进货单：way-cart -->
            <div id="header">
            </div>
            <div class="content" id="content">
                <!-- layout 通栏 -->
                <div class="layout layout-col screen">
                    <div class="grid">
                        <div class="mod-hall">
                            <ul class="fd-clr">
                                <li>
                                    <a clss="fd-clr" href="#" title="包销分会场">
                                        <div class="col">
                                            <div class="name">包销分会场</div>
                                            <div class="description">拿的货卖不掉，我管退！</div>
                                        </div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/838/772/2277838_756593906.png" alt="进入Enter"></img>
                                    </a>
                                </li>
                                <li>
                                    <a clss="fd-clr" href="#" title="一口吞分会场">
                                        <div class="col">
                                            <div class="name">一口吞分会场</div>
                                            <div class="description">3000元起批，拼爆品一口吞</div>
                                        </div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/838/772/2277838_756593906.png" alt="进入Enter"></img>
                                    </a>
                                </li>
                                <li>
                                    <a clss="fd-clr" href="#" title="厂商直供会场">
                                        <div class="col">
                                            <div class="name">厂商直供会场</div>
                                            <div class="description">源头好货 报销包退 3折秒杀</div>
                                        </div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/838/772/2277838_756593906.png" alt="进入Enter"></img>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mod-product-category">
                            <ul class="fd-clr">
                                <li>
                                    <a class="a-img" href="#" title="女装">
                                        <div>女装</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/996/082/2280699_756593906.png" alt="女装" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="童装">
                                        <div>童装</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/148/282/2282841_756593906.png" alt="童装" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="男装">
                                        <div>男装</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/818/572/2275818_756593906.png" alt="男装" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="内衣">
                                        <div>内衣</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/618/272/2272816_756593906.png" alt="内衣" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="鞋靴">
                                        <div>鞋靴</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/797/372/2273797_756593906.png" alt="鞋靴" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="箱包">
                                        <div>箱包</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/077/072/2270770_756593906.png" alt="箱包" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="配饰">
                                        <div>配饰</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/918/572/2275819_756593906.png" alt="配饰" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="百货">
                                        <div>百货</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/867/072/2270768_756593906.png" alt="百货" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="礼品/宠物">
                                        <div>礼品/宠物</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/048/282/2282840_756593906.png" alt="礼品/宠物" />
                                    </a>
                                </li>

                                <li>
                                    <a class="a-img" href="#" title="家纺">
                                        <div>家纺</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/967/072/2270769_756593906.png" alt="家纺" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="家装">
                                        <div>家装</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/477/182/2281774_756593906.png" alt="家装" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="美妆日化">
                                        <div>美妆日化</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/747/172/2271747_756593906.png" alt="美妆日化" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="食品">
                                        <div>食品</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/528/962/2269825_756593906.png" alt="食品" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="数码家电">
                                        <div>数码家电</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/577/182/2281775_756593906.png" alt="数码家电" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="母婴玩具">
                                        <div>母婴玩具</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/738/672/2276837_756593906.png" alt="母婴玩具" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="运动">
                                        <div>运动</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/038/872/2278830_756593906.png" alt="运动" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="原材料">
                                        <div>原材料</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/238/772/2277832_756593906.png" alt="原材料" />
                                    </a>
                                </li>
                                <li>
                                    <a class="a-img" href="#" title="工业品">
                                        <div>工业品</div>
                                        <img src="http://img.china.alibaba.com/cms/upload/2015/718/572/2275817_756593906.png" alt="工业品" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>